@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light defaults */
html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #111111;
}

/* Dark mode when html has class="dark" */
.dark body {
  background: #000000;
  color: #ffffff;
}
